/* Primary Hover */
.wp-block-social-links.is-style-primary-hover {
	li.wp-social-link {
		color: inherit;
		background: none;

		&:hover {
			transform: none;
			color: var(--wp--preset--color--primary);
		}

		a {
			padding: 0;
		}
	}
}
