table {
	width: 100%;
	border: none;
	table-layout: auto;
	border-spacing: 0;
	border-collapse: collapse;
	border-color: rgba(0, 0, 0, 0.15);
}

thead {
	border-bottom: 3px solid;
	border-color: inherit;
}

tfoot {
	border-top: 3px solid;
	border-color: inherit;
}

th,
td {
	padding: 0.5rem 0.75rem;
	border: 1px solid;
	border-color: inherit;
	word-break: normal;
}

th {
	font-weight: bold;
	text-align: initial;
}
