/* Separator Block */
hr.wp-block-separator {
	margin-left: auto;
	margin-right: auto;
	border: none;
	background-color: currentColor;
	height: 3px;
	opacity: 1;

	&:not(.has-background) {
		opacity: 0.15;
	}

	// Default style.
	&:not(.is-style-wide):not(.is-style-thin):not(.is-style-dots) {
		width: 80px;
		height: 3px;
	}

	// Dots.
	&.is-style-dots {
		height: auto;
		opacity: 1;

		&:before {
			letter-spacing: 1em;
			padding-left: 1em;
		}
	}

	// Thine Line.
	&.is-style-thin {
		height: 1px;
	}
}
